section{
    display: flex;
    justify-content: center;
}
section div.register{
 background-color: transparent;
 border: none;
 border-radius: 5px;
 margin-top: 20px;
 margin-bottom: 20px;
}
section div.register div{
   margin: 20px;
}
section div.register div label{
    font-size: 18px;
}
section div.register div.input-text input{
    font-size: 18px;
    width: 80vw;
    height: 5vh;
    border-radius: 8px;
    padding-left: 10px;
}
section div.register div.input-date input,
section div.register div.input-perfil select{
    font-size: 18px;
    width: 40vw;
    height: 5vh;
    border-radius: 8px;
    padding: 10px;
}

section div.register div.input-categoria {
    width: 100%;
}
section div.register div.input-categoria label{
    display: block;
    font-size: 26px;
    margin: 10px;
    margin-top: 10px;
}
section div.register form div.form-buttons{
    display: flex;
    justify-content: flex-end;
}
section div.register form div.form-buttons button{
  width: 23vw;
  height: 5vh;
  margin: 10px;
  border-radius: 8px;
  background-color: #1259c3;
}
@media (min-width: 769px){
    section div.register div.input-text input{
        font-size: 24px;
        width: 70vw;
        height: 5vh;
    }
    section div.register div.input-date input,
    section div.register div.input-perfil select{
        font-size: 22px;
        width: 35vw;
        padding: 10px;
    }
    section div.register form div.form-buttons button{
        width: 18vw;
        height: 5vh;
        font-size: 24px;
      }
}
@media (min-width: 1200px){
    h2{
        font-size: 15px;
    }
    section div.register div.input-text input{
        font-size: 18px;
        width: 35vw;
        height: 5vh;
    }
    section div.register div.input-categoria label{
        display:flex;
        font-size: 15px;
    }
    section div.register div.input-categoria div{
       display: flex;
    }
    section div.register div.input-date input,
    section div.register div.input-perfil select{
        font-size: 13px;
        width: 18vw;
        height: 5.5vh;
        padding: 10px;
    }
    section div.register form div.form-buttons button{
        font-size: 18px;
        width: 10vw;
        height: 5vh;
      }
}